/* Weather Dashbored App */

@media only screen and (min-width:600px) and (max-width: 756px) {
    .weatherTitle {
       left: 200px;
    }
}

@media only screen and (min-width:600px) and (max-width: 756px) {
    .weatherPic {
       left: 81px;
    }
}

@media only screen and (min-width:600px) and (max-width: 756px) {
    .weatherDescription {
       left: 209px;
    }
}

@media only screen and (min-width:600px) and (max-width: 756px) {
    .weatherBtn {
       left: 294px;
    }
}

/* Code Quiz App */

@media only screen and (min-width:600px) and (max-width: 756px) {
    .codeTitle {
       left: 273px;
    }
}

@media only screen and (min-width:600px) and (max-width: 756px) {
    .picOfCodeQuiz {
       left: 103px;
    }
}

@media only screen and (min-width:600px) and (max-width: 756px) {
    .codeDescription {
       left: 227px;
    }
}

@media only screen and (min-width:600px) and (max-width: 756px) {
    .codeBtn {
       left: 294px;
    }
}
/* LocalWire App */

@media only screen and (min-width:600px) and (max-width: 756px) {
    .LocalWireTitle {
       left: 273px;
    }
}

@media only screen and (min-width:600px) and (max-width: 756px) {
    .LocalWirePic {
       left: 103px;
    }
}

@media only screen and (min-width:600px) and (max-width: 756px) {
    .LocalWireDescription {
       left: 227px;
    }
}

@media only screen and (min-width:600px) and (max-width: 756px) {
    .LocalWireBtn {
       left: 294px;
    }
}

@media only screen and (min-width:600px) and (max-width: 756px) {
    .card {
       margin-bottom: 20px;
    }
}

@media only screen and (min-width:701px) and (max-width: 756px) {
    .myName {
        position: relative;
        top: 2em;
        left: 10px;
    }
}



@media only screen and (min-width:701px) and (max-width: 756px) {
    #aboutme {
    position: relative;
       top: 320em;
    }
}

@media only screen and (min-width:701px) and (max-width: 756px) {
    #connect {
        position: relative;
       top: 330em;
    }
}

@media only screen and (min-width:600px) and (max-width: 810px) {
    .aboutme-Text {
       padding-left: 0;
       max-width: 360px;
    }
}

@media only screen and (min-width:508px) and (max-width: 862px) {
    .linkToMyResume {
        position: absolute;
        bottom: 101px;
        
    }
}


@media only screen and (min-width:415px) and (max-width: 507px) {
    .linkToMyResume {
        position: absolute;
        bottom: 92px;
        left: 165px;
        padding: 1px 12px 0 14px;
        
        
    }
}


@media only screen and (min-width:375px) and (max-width: 414px) {
    .linkToMyResume {
        position: absolute;
        font-size: 69px;
        left: 274px;
        bottom: 104px;
        
        
    }
}



/*  IPad Screen size from 757px till 900px... For when IPad is vertical  */

@media only screen and (min-width:757px) and (max-width: 900px) {
    .PortfolioContainer {
        overflow-x: hidden;
    }
}


@media only screen and (min-width:757px) and (max-width: 900px) {
    .html {
        overflow-x: hidden;
    }
}

@media only screen and (min-width:757px) and (max-width: 900px) {
    #myNavBar {
        position: relative;
        width: 100%;
    }
}


@media only screen and (min-width:757px) and (max-width: 900px) {
    .picOfMe {
        position: relative;
        top: 14px;
       left: 15em;
    }
}

@media only screen and (min-width:757px) and (max-width: 900px) {
    .myName {
        position: relative;
        top: 2em;
       left: 10px;
    }
}

@media only screen and (min-width:757px) and (max-width: 900px) {
    .introPar {
        position: relative;
        top: 7em;
        left: 118px;
        font-size: 18px;
    }
}

@media only screen and (min-width:757px) and (max-width: 900px) {
    .work {
       display: none;
    }
}

/* Weather Dashbored App */

@media only screen and (min-width:757px) and (max-width: 900px) {
    .WeatherContainer {
        position: relative;
        bottom: 32em;
        right: 31px;
    }
}
@media only screen and (min-width:757px) and (max-width: 900px) {
    .weatherTitle {
       left: 6em;
    }
}

@media only screen and (min-width:757px) and (max-width: 900px) {
    .weatherPic {
       left: 8em;
    }
}

@media only screen and (min-width:757px) and (max-width: 900px) {
    .weatherDescription {
       left: 16em;
    }
}

@media only screen and (min-width:757px) and (max-width: 900px) {
    .weatherBtn {
       left: 18em;
    }
}

/* Code Quiz App */
@media only screen and (min-width:757px) and (max-width: 900px) {
    .CodeQuizContainer {
        position: relative;
        bottom: 26em;
        right: 31px;
    }
}

@media only screen and (min-width:757px) and (max-width: 900px) {
    .codeTitle {
       left: 8em;
    }
}

@media only screen and (min-width:757px) and (max-width: 900px) {
    .picOfCodeQuiz {
       left: 8em;
    }
}

@media only screen and (min-width:757px) and (max-width: 900px) {
    .codeDescription {
       left: 16em;
    }
}

@media only screen and (min-width:757px) and (max-width: 900px) {
    .codeBtn {
       left: 18em;
    }
}

/* LocalWire App  */

@media only screen and (min-width:757px) and (max-width: 900px) {
    .LocalWireContainer {
        position: relative;
        bottom: 20em;
        right: 31px;
    }
}

@media only screen and (min-width:757px) and (max-width: 900px) {
    .LocalWireTitle {
       left: 8em;
    }
}

@media only screen and (min-width:757px) and (max-width: 900px) {
    .LocalWirePic {
       left: 8em;
    }
}

@media only screen and (min-width:757px) and (max-width: 900px) {
    .LocalWireDescription {
       left: 16em;
    }
}

@media only screen and (min-width:757px) and (max-width: 900px) {
    .LocalWireBtn {
       left: 18em;
    }
}

@media only screen and (min-width:757px) and (max-width: 900px) {
    .otherProjects {
        position: relative;
        top: 156em;
        left: 78px;
    }
}

@media only screen and (min-width:757px) and (max-width: 900px) {
    #aboutme {
        position: relative;
        top: 173em;
    }
}

@media only screen and (min-width:757px) and (max-width: 900px) {
    #connect {
        position: relative;
        top: 187em;
    }
}

@media only screen and (min-width:757px) and (max-width: 900px) {
    .html, body {
        padding-bottom: 90%;
    }
}

/* Ipad Screen size 901px till 1045px.. When IPad is horizontal */

@media only screen and (min-width:901px) and (max-width: 1045px) {
    .PortfolioContainer {
        overflow-x: hidden;
    }
}


@media only screen and (min-width:901px) and (max-width: 1045px) {
    .picOfMe {
        position: relative;
        top: 45px;
        left: 23em;
    }
}

@media only screen and (min-width:901px) and (max-width: 1045px) {
    .myName {
        position: relative;
        top: 116px;
        left: 10px;
    }
}


@media only screen and (min-width:901px) and (max-width: 1045px) {
    .introPar {
        position: relative;
        top: 149px;
        left: 264px;
    }
}

@media only screen and (min-width:901px) and (max-width: 1045px) {
    .work {
        display: none;
    }
}

/* Weather Dashbored */

@media only screen and (min-width:901px) and (max-width: 1045px) {
    .WeatherContainer {
        position: relative;
        bottom: 415px;
    }
}


@media only screen and (min-width:901px) and (max-width: 1045px) {
    .weatherTitle {
        position: relative;
        left: 1px;
    }
}

@media only screen and (min-width:901px) and (max-width: 1045px) {
    .weatherPic {
        position: relative;
        top: 56em;
        left: 14em;
    }
}

@media only screen and (min-width:901px) and (max-width: 1045px) {
    .weatherDescription {
        position: relative;
        top: 57em;
        left: 336px;
    }
}

@media only screen and (min-width:901px) and (max-width: 1045px) {
    .weatherBtn {
        position: relative;
        top: 52em;
        left: 405px;
    }
}


/* codeQuiz app */

@media only screen and (min-width:901px) and (max-width: 1045px) {
    .CodeQuizContainer {
        position: relative;
        bottom: 47em;
    }
}

@media only screen and (min-width:901px) and (max-width: 1045px) {
    .codeTitle {
        position: relative;
        left: 396px;
    }
}

@media only screen and (min-width:901px) and (max-width: 1045px) {
    .picOfCodeQuiz {
        position: relative;
        top: 90em;
        left: 14em;
    }
}

@media only screen and (min-width:901px) and (max-width: 1045px) {
    .codeDescription {
        position: relative;
        top:92em;
        left: 336px;
    }
}

@media only screen and (min-width:901px) and (max-width: 1045px) {
    .codeBtn {
        position: relative;
        top: 83em;
        left: 405px;
    }
}

/* LocalWire App */


@media only screen and (min-width:901px) and (max-width: 1045px) {
    .LocalWireContainer {
        position: relative;
        bottom: 68em;
    }
}

@media only screen and (min-width:901px) and (max-width: 1045px) {
    .LocalWireTitle {
        position: relative;
       left: 396px;
    }
}

@media only screen and (min-width:901px) and (max-width: 1045px) {
    .LocalWirePic {
        position: relative;
        top: 125em;
       left: 14em;
    }
}

@media only screen and (min-width:901px) and (max-width: 1045px) {
    .LocalWireDescription {
        position: relative;
        top: 127em;
       left: 336px;
    }
}

@media only screen and (min-width:901px) and (max-width: 1045px) {
    .LocalWireBtn {
        position: relative;
        top: 114em;
       left:405px;
    }
}

@media only screen and (min-width:901px) and (max-width: 1045px) {
    .otherProjects {
        position: relative;
        top: 73em;
        left: 73px;
    }
}

@media only screen and (min-width:901px) and (max-width: 1045px) {
    #aboutme {
        position: relative;
        top: 96em;
    }
}


@media only screen and (min-width:901px) and (max-width: 1045px) {
    #connect {
        position: relative;
        top: 108em;
    }
}


/* Screen Size 1046px and till 1296px */

@media only screen and (min-width:1046px) and (max-width: 1296px) {
    .picOfMe {
        position: relative;
        top:54px;
        left: 40%;
    }
}

@media only screen  and (min-width:1046px) and (max-width: 1296px) {
    .myName {
        position: relative;
        top: 3em;
        left: 22px;
    }
}
@media only screen and (min-width:1046px) and (max-width: 1296px) {
    .introPar {
        position: relative;
        top: 9em;
        left: 370px;
    }
}

@media only screen and (min-width:1046px) and (max-width: 1296px) {
    .work {
       display: none;
    }
}

/* Weather Dashbored */
@media only screen and (min-width:1046px) and (max-width: 1296px) {
    .WeatherContainer {
        position: relative;
        bottom: 25em;
        right: 44px;
    }
}

@media only screen and (min-width:1046px) and (max-width: 1296px) {
    .weatherTitle {
       left: 13em;
    }
}

@media only screen and (min-width:1046px) and (max-width: 1296px) {
    .weatherPic {
       left: 25em;
    }
}

@media only screen and (min-width:1046px) and (max-width: 1296px) {
    .weatherDescription {
       left: 33em;
    }
}

@media only screen and (min-width:1046px) and (max-width: 1296px) {
    .weatherBtn {
       left: 34em;
    }
}

/* code quiz app */

@media only screen and (min-width:1046px) and (max-width: 1296px) {
    .CodeQuizContainer {
        position: relative;
        bottom: 19em;
        right: 44px;
    }
}
@media only screen and (min-width:1046px) and (max-width: 1296px) {
    .codeTitle {
       left: 15em;
    }
}

@media only screen and (min-width:1046px) and (max-width: 1296px) {
    .picOfCodeQuiz {
       left: 25em;
    }
}

@media only screen and (min-width:1046px) and (max-width: 1296px) {
    .codeDescription {
       left: 33em;
    }
}

@media only screen and (min-width:1046px) and (max-width: 1296px) {
    .codeBtn {
       left: 33em;
    }
}

/* LocalWire App */

@media only screen and (min-width:1046px) and (max-width: 1296px) {
    .LocalWireContainer {
        position: relative;
        bottom: 13em;
        right: 44px;
    }
}

@media only screen and (min-width:1046px) and (max-width: 1296px) {
    .LocalWireTitle {
       left: 15em;
    }
}

@media only screen and (min-width:1046px) and (max-width: 1296px) {
    .LocalWirePic {
       left: 25em;
    }
}

@media only screen and (min-width:1046px) and (max-width: 1296px) {
    .LocalWireDescription {
       left: 33em;
    }
}

@media only screen and (min-width:1046px) and (max-width: 1296px) {
    .LocalWireBtn {
       left: 33em;
    }
}





@media only screen and (min-width:1046px) and (max-width: 1296px) {
    .body {
       overflow-x: hidden;
    }
}

@media only screen and (min-width:1046px) and (max-width: 1296px) {
    .otherProjects {
        position: relative;
        top: 156em;
        left: 42px;
    }
}

 @media only screen and (min-width:1297px) and (max-width: 1536px) {
    #aboutme {
        position: relative;
        top: 230em;
    }
}

@media only screen and (min-width:1047px) and (max-width: 1296px) {
    #aboutme {
        position: relative;
        top: 178em;
    }
}

/* @media only screen and (min-width:800px) and (max-width: 1046px) {
    #aboutme {
        position: relative;
        top: 264em;
    }
} */


@media only screen and  (min-width:1297px) and (max-width: 1536px) {
    #connect {
        position: relative;
        top: 242em;
    }
}
@media only screen and (min-width:1047px) and (max-width: 1296px) {
    #connect {
        position: relative;
        top: 189em;
    }
}

/* @media only screen and (min-width:800px) and (max-width: 1046px) {
    #connect {
        position: relative;
        top: 275em;
    }
} */


@media only screen and (max-width: 1536px) {
    .modalForWeather {
        padding: 1em 0 0 28em;
    }
}

@media only screen and (max-width: 1536px) {
    .modalContent {
        height: 46em;
    }
}

@media only screen and (max-width: 1536px) {
    .modalForCodeQuiz {
        padding: 1em 0 0 28em;
    }
}

@media only screen and (max-width: 1536px) {
    .modalContentForCode {
        height: 46em;
    }
}


@media only screen and (max-width: 1536px) {
    .modalForLocalWire {
        padding: 1em 0 0 28em;
    }
}

@media only screen and (max-width: 1536px) {
    .modalContentForLocalWire {
        height: 46em;
    }
}

@media only screen and (max-width: 1536px) {
    .otherProjects {
        flex-wrap: wrap;
    }
}

@media only screen and  (max-width: 1536px) {
    .headerText {
        left: 30%;
    }
}

@media only screen and (max-width: 1536px) {
    .myPosition {
        left: 23%;
    }
}

@media only screen and (max-width: 1536px) {
    #myWorkPage {
        height: 85vh;
    }
}

@media only screen and (max-width: 1536px) {
    .gitHubIcon {
        left: 219px;
    }
}

@media only screen and (max-width: 1536px) {
    .meetHubPic {
        padding-bottom: 0px;
    }
}

