@media only screen and (max-width: 1536px) {
    .headerText {
        left: 30%;
    }
}

@media only screen and (max-width: 1536px) {
    .myPosition {
        left: 23%;
    }
}

@media only screen and (max-width: 1536px) {
    #myWorkPage {
        height: 85vh;
    }
}

@media only screen and (max-width: 1536px) {
    .gitHubIcon {
        left: 219px;
    }
}

@media only screen and (max-width: 1536px) {
    .meetHubPic {
        padding-bottom: 0px;
    }
}

/* @media only screen and (max-width: 1536px) {
    .picOfMe {
        left: 153px;
    }
} */

@media only screen and (max-width: 1536px) {
    .myName {
        left: 42%;
    }
}

@media only screen and (max-width: 1536px) {
    .introPar {
        left: 46%;
    }
}

@media only screen and (max-width: 1536px) {
    .work {
        left: 56%;
       
    }
}

@media only  screen and (max-width:1920px) and (min-width:1536px)  {
    .weatherTitle {
        position: absolute;
        left: 39%;
       
        
    }
}

@media only screen and (max-width:1920px) and (min-width:1536px)  {
    .weatherPic {
        position: absolute;
        left: 33%;
        
    }
}

/* @media only screen and (max-width:1921px)   {
    .weatherDescription {
        position: absolute;
        left: 32rem
    }
} */

/* @media only screen and (max-width:1921px) and (min-width:1536px)  {
    .weatherBtn {
        position: absolute;
        left: 43rem;
       
    }
} */

@media only screen and (max-width: 1536px) {
    .modalForWeather {
        position: absolute;
        width: 100%;
        top: 7.6%;
        height: 151rem;
       
    }
}


@media only screen and (max-width: 1536px) {
    .modalForCodeQuiz {
        position: absolute;
        width: 100%;
        top: 7.6%;
        height: 151rem;
    }
}



