
@media only screen and (max-width: 845px) {
    .aboutLink {
        bottom: 24px;
    }
}


/* Weather Dashbored App */

@media only screen and (min-width:600px) and (max-width: 756px) {
    .weatherTitle {
       left: 200px;
    }
}

@media only screen and (min-width:600px) and (max-width: 756px) {
    .weatherPic {
       left: 81px;
    }
}

@media only screen and (min-width:600px) and (max-width: 756px) {
    .weatherDescription {
       left: 209px;
    }
}

@media only screen and (min-width:600px) and (max-width: 756px) {
    .weatherBtn {
       left: 294px;
    }
}

/* Code Quiz App */

@media only screen and (min-width:600px) and (max-width: 756px) {
    .codeTitle {
       left: 273px;
    }
}

@media only screen and (min-width:600px) and (max-width: 756px) {
    .picOfCodeQuiz {
       left: 103px;
    }
}

@media only screen and (min-width:600px) and (max-width: 756px) {
    .codeDescription {
       left: 227px;
    }
}

@media only screen and (min-width:600px) and (max-width: 756px) {
    .codeBtn {
       left: 294px;
    }
}
/* LocalWire App */

@media only screen and (min-width:600px) and (max-width: 756px) {
    .LocalWireTitle {
       left: 273px;
    }
}

@media only screen and (min-width:600px) and (max-width: 756px) {
    .LocalWirePic {
       left: 103px;
    }
}

@media only screen and (min-width:600px) and (max-width: 756px) {
    .LocalWireDescription {
       left: 227px;
    }
}

@media only screen and (min-width:600px) and (max-width: 756px) {
    .LocalWireBtn {
       left: 294px;
    }
}

@media only screen and (min-width:600px) and (max-width: 756px) {
    .card {
       margin-bottom: 20px;
    }
}

@media only screen and (min-width:757px) and (max-width: 799px) {
    #aboutme {
       top: 259em;
    }
}

@media only screen and (min-width:701px) and (max-width: 756px) {
    #aboutme {
       top: 309em;
    }
}

@media only screen and (min-width:701px) and (max-width: 756px) {
    #connect {
       top: 320em;
    }
}

@media only screen and (min-width:600px) and (max-width: 810px) {
    .aboutme-Text {
       padding-left: 0;
       max-width: 360px;
    }
}




/* Screen size from 757px till 900px  */

@media only screen and (min-width:757px) and (max-width: 900px) {
    .html {
        overflow-x: hidden;
    }
}

@media only screen and (min-width:757px) and (max-width: 900px) {
    #myNavBar {
        position: relative;
        width: 118%;
    }
}


@media only screen and (min-width:757px) and (max-width: 900px) {
    .picOfMe {
        position: relative;
        top: 14px;
       left: 15em;
    }
}

@media only screen and (min-width:757px) and (max-width: 900px) {
    .myName {
        position: relative;
        top: 2em;
       left: 10px;
    }
}

@media only screen and (min-width:757px) and (max-width: 900px) {
    .introPar {
        position: relative;
        top: 7em;
        left: 118px;
        font-size: 18px;
    }
}

@media only screen and (min-width:757px) and (max-width: 900px) {
    .work {
       display: none;
    }
}
/* Weather Dashbored App */

@media only screen and (min-width:757px) and (max-width: 900px) {
    .WeatherContainer {
        position: relative;
        bottom: 32em;
    }
}
@media only screen and (min-width:757px) and (max-width: 900px) {
    .weatherTitle {
       left: 6em;
    }
}

@media only screen and (min-width:757px) and (max-width: 900px) {
    .weatherPic {
       left: 8em;
    }
}

@media only screen and (min-width:757px) and (max-width: 900px) {
    .weatherDescription {
       left: 16em;
    }
}

@media only screen and (min-width:757px) and (max-width: 900px) {
    .weatherBtn {
       left: 18em;
    }
}

/* Code Quiz App */
@media only screen and (min-width:757px) and (max-width: 900px) {
    .CodeQuizContainer {
        position: relative;
        bottom: 26em;
    }
}

@media only screen and (min-width:757px) and (max-width: 900px) {
    .codeTitle {
       left: 8em;
    }
}

@media only screen and (min-width:757px) and (max-width: 900px) {
    .picOfCodeQuiz {
       left: 8em;
    }
}

@media only screen and (min-width:757px) and (max-width: 900px) {
    .codeDescription {
       left: 16em;
    }
}

@media only screen and (min-width:757px) and (max-width: 900px) {
    .codeBtn {
       left: 18em;
    }
}

/* LocalWire App  */

@media only screen and (min-width:757px) and (max-width: 900px) {
    .LocalWireContainer {
        position: relative;
        bottom: 20em;
    }
}

@media only screen and (min-width:757px) and (max-width: 900px) {
    .LocalWireTitle {
       left: 8em;
    }
}

@media only screen and (min-width:757px) and (max-width: 900px) {
    .LocalWirePic {
       left: 8em;
    }
}

@media only screen and (min-width:757px) and (max-width: 900px) {
    .LocalWireDescription {
       left: 16em;
    }
}

@media only screen and (min-width:757px) and (max-width: 900px) {
    .LocalWireBtn {
       left: 18em;
    }
}

@media only screen and (min-width:757px) and (max-width: 900px) {
    .otherProjects {
        position: relative;
        top: 156em;
        left: 117px;
    }
}

@media only screen and (min-width:757px) and (max-width: 900px) {
    #aboutme {
        position: relative;
        top: 173em;
        left: 61px;
    }
}

@media only screen and (min-width:757px) and (max-width: 900px) {
    #connect {
        position: relative;
        top: 187em;
        left: 61px;
    }
}

@media only screen and (min-width:757px) and (max-width: 900px) {
    .html, body {
        padding-bottom: 90%;
    }
}

/* Screen size 901px till 1045px */

@media only screen and (min-width:901px) and (max-width: 1045px) {
    .picOfMe {
        top: 10px;
        left: 23em;
    }
}

@media only screen and (min-width:901px) and (max-width: 1045px) {
    .myName {
        top: 10em;
        left: 5em;
    }
}


@media only screen and (min-width:901px) and (max-width: 1045px) {
    .introPar {
        top: 34em;
        left: 15em;
    }
}

@media only screen and (min-width:901px) and (max-width: 1045px) {
    .work {
        display: none;
    }
}

@media only screen and (min-width:901px) and (max-width: 1045px) {
    .weatherTitle {
        left: 9em;
    }
}

@media only screen and (min-width:901px) and (max-width: 1045px) {
    .weatherPic {
        left: 15em;
    }
}

@media only screen and (min-width:901px) and (max-width: 1045px) {
    .weatherDescription {
        left: 24em;
    }
}

/* codeQuiz app */

@media only screen and (min-width:901px) and (max-width: 1045px) {
    .codeTitle {
        left: 11em;
    }
}

@media only screen and (min-width:901px) and (max-width: 1045px) {
    .picOfCodeQuiz {
        left: 15em;
    }
}

@media only screen and (min-width:901px) and (max-width: 1045px) {
    .codeDescription {
        left: 24em;
    }
}

@media only screen and (min-width:901px) and (max-width: 1045px) {
    .codeBtn {
        top: 105em;
        left: 25em;
    }
}

/* LocalWire App */

@media only screen and (min-width:901px) and (max-width: 1045px) {
    .LocalWireTitle {
       left: 11em;
    }
}

@media only screen and (min-width:901px) and (max-width: 1045px) {
    .LocalWirePic {
       left: 15em;
    }
}

@media only screen and (min-width:901px) and (max-width: 1045px) {
    .LocalWireDescription {
       left: 25em;
    }
}

@media only screen and (min-width:901px) and (max-width: 1045px) {
    .LocalWireBtn {
       left: 25em;
    }
}

@media only screen and (min-width:901px) and (max-width: 1045px) {
    .otherProjects {
       top: 172em;
    }
}




/* size from 999px and going down till 900px */

/* @media only screen and (min-width:757px) and (max-width: 999px) {
    #connect {
        top: 270em;
    }
} */

/* Screen Size 1046px and till 1296px */

@media only screen and (min-width:1046px) and (max-width: 1296px) {
    .picOfMe {
        position: relative;
        top:54px;
        left: 40%;
    }
}

@media only screen  and (min-width:1046px) and (max-width: 1296px) {
    .myName {
        position: relative;
        top: 3em;
        left: 22px;
    }
}
@media only screen and (min-width:1046px) and (max-width: 1296px) {
    .introPar {
        position: relative;
        top: 9em;
        left: 370px;
    }
}

@media only screen and (min-width:1046px) and (max-width: 1296px) {
    .work {
       display: none;
    }
}

/* Weather Dashbored */
@media only screen and (min-width:1046px) and (max-width: 1296px) {
    .WeatherContainer {
        position: relative;
        bottom: 25em;
        right: 44px;
    }
}

@media only screen and (min-width:1046px) and (max-width: 1296px) {
    .weatherTitle {
       left: 13em;
    }
}

@media only screen and (min-width:1046px) and (max-width: 1296px) {
    .weatherPic {
       left: 25em;
    }
}

@media only screen and (min-width:1046px) and (max-width: 1296px) {
    .weatherDescription {
       left: 33em;
    }
}

@media only screen and (min-width:1046px) and (max-width: 1296px) {
    .weatherBtn {
       left: 34em;
    }
}

/* code quiz app */

@media only screen and (min-width:1046px) and (max-width: 1296px) {
    .CodeQuizContainer {
        position: relative;
        bottom: 19em;
        right: 44px;
    }
}
@media only screen and (min-width:1046px) and (max-width: 1296px) {
    .codeTitle {
       left: 15em;
    }
}

@media only screen and (min-width:1046px) and (max-width: 1296px) {
    .picOfCodeQuiz {
       left: 25em;
    }
}

@media only screen and (min-width:1046px) and (max-width: 1296px) {
    .codeDescription {
       left: 33em;
    }
}

@media only screen and (min-width:1046px) and (max-width: 1296px) {
    .codeBtn {
       left: 33em;
    }
}

/* LocalWire App */

@media only screen and (min-width:1046px) and (max-width: 1296px) {
    .LocalWireContainer {
        position: relative;
        bottom: 13em;
        right: 44px;
    }
}

@media only screen and (min-width:1046px) and (max-width: 1296px) {
    .LocalWireTitle {
       left: 15em;
    }
}

@media only screen and (min-width:1046px) and (max-width: 1296px) {
    .LocalWirePic {
       left: 25em;
    }
}

@media only screen and (min-width:1046px) and (max-width: 1296px) {
    .LocalWireDescription {
       left: 33em;
    }
}

@media only screen and (min-width:1046px) and (max-width: 1296px) {
    .LocalWireBtn {
       left: 33em;
    }
}





@media only screen and (min-width:1046px) and (max-width: 1296px) {
    .body {
       overflow-x: hidden;
    }
}

@media only screen and (min-width:1046px) and (max-width: 1296px) {
    .otherProjects {
        position: relative;
        top: 156em;
        left: 42px;
    }
}

 @media only screen and (min-width:1297px) and (max-width: 1536px) {
    #aboutme {
        position: relative;
        top: 230em;
    }
}

@media only screen and (min-width:1047px) and (max-width: 1296px) {
    #aboutme {
        position: relative;
        top: 178em;
    }
}

@media only screen and (min-width:800px) and (max-width: 1046px) {
    #aboutme {
        position: relative;
        top: 264em;
    }
}


@media only screen and  (min-width:1297px) and (max-width: 1536px) {
    #connect {
        position: relative;
        top: 242em;
    }
}
@media only screen and (min-width:1047px) and (max-width: 1296px) {
    #connect {
        position: relative;
        top: 189em;
    }
}

@media only screen and (min-width:800px) and (max-width: 1046px) {
    #connect {
        position: relative;
        top: 275em;
    }
}


@media only screen and (max-width: 1536px) {
    .modalForWeather {
        padding: 1em 0 0 28em;
    }
}

@media only screen and (max-width: 1536px) {
    .modalContent {
        height: 46em;
    }
}

@media only screen and (max-width: 1536px) {
    .modalForCodeQuiz {
        padding: 1em 0 0 28em;
    }
}

@media only screen and (max-width: 1536px) {
    .modalContentForCode {
        height: 46em;
    }
}


@media only screen and (max-width: 1536px) {
    .modalForLocalWire {
        padding: 1em 0 0 28em;
    }
}

@media only screen and (max-width: 1536px) {
    .modalContentForLocalWire {
        height: 46em;
    }
}

@media only screen and (max-width: 1536px) {
    .otherProjects {
        flex-wrap: wrap;
    }
}






@media only screen and  (max-width: 1536px) {
    .headerText {
        left: 30%;
    }
}

@media only screen and (max-width: 1536px) {
    .myPosition {
        left: 23%;
    }
}

@media only screen and (max-width: 1536px) {
    #myWorkPage {
        height: 85vh;
    }
}

@media only screen and (max-width: 1536px) {
    .gitHubIcon {
        left: 219px;
    }
}

@media only screen and (max-width: 1536px) {
    .meetHubPic {
        padding-bottom: 0px;
    }
}


/* Large screens */
@media only screen and (max-width: 1536px) {
    html,body {
        padding-bottom: 320%;
    }
}

