@media only screen and (min-width: 410px) and (max-width:499px) and (orientation: portrait) {
    .body {
        overflow-x: hidden;
    }
}

@media only screen and (min-width:410px) and (max-width: 499px) and (orientation: portrait) {
    #myNavBar {
        position: fixed;
        top: 0;
        width: 100%;
        padding: 30px 0px;
        z-index: 1;
    }
}

@media only screen and (min-width: 410px) and (max-width: 499px) and (orientation: portrait) {
    .navbar {
        right: -400px;
    }
    .change {
        right: 0;
    }
    .nav-link {
        font-size: 4em;
    }
    .nav-item {
        margin: 64px;
    }
    .hamburger-menu {
        right: 50px;
        width: 90px;
        height: 90px;
    }
    .change .line-1{
        transform: rotateZ(-405deg) translate(-37px, 31px);
    }
    .change .line-2{
        opacity: 0;
    }
    .change .line-3{
        transform: rotateZ(405deg)  translate(-8px, -6px);
    }
}

@media only screen and (min-width:410px) and (max-width: 499px) and (orientation: portrait) {
    .picOfMe {
        position: absolute;
        left: 83px;
        top: 116px;
        height: 350px;
    }
    .myName {
        position: absolute;
        left: 1px;
        font-size: 37px;
        top: 501px;
    }
    .introPar{
        position: absolute;
        left: 25px;
        top: 652px;
        max-width: 400px;
    }
    .work {
        display: none;
    }
    .WeatherContainer {
        position: relative;
        
    }
    .weatherTitle {
        position: absolute;
        left: 42px;
        font-size: 37px;
    }
    .weatherPic {
        position: absolute;
        left: 15px;
        width: 384px;
        height: 271px;
        top: 60em;
    }
    .weatherDescription {
        position: relative;
        top: 78em;
        left: 34px;
    }
    .weatherInfo {
        position: absolute;
        top: 0px;
        font-size: 19px;
    }
    .weatherBtn {
        position: absolute;
        top: 75em;
        left: 130px;
    }
    .CodeQuizContainer {
        position: relative;
        top: 325px;
    }
    .codeTitle {
        position: absolute;
        left: 119px;
        font-size: 37px;
    }
    .picOfCodeQuiz {
        position: absolute;
        left: 15px;
        width: 384px;
        height: 271px;
        top: 93em;
    }
    .codeDescription {
        position: relative;
        top: 111em;
        left: 34px;

    }
    .codeInfo {
        position: absolute;
        font-size: 19px;
    }
    .codeBtn {
        position: absolute;
        top: 104em;
        left: 130px;
    }
    .LocalWireContainer {
        position: relative;
        top: 39em;
    }
    .LocalWireTitle {
        position: absolute;
        left: 119px;
        font-size: 37px;
    }
    .LocalWirePic {
        position: absolute;
        left: 15px;
        width: 384px;
        height: 271px;
        top: 128em;
    }
    .LocalWireDescription {
        position: relative;
        top: 146em;
        left: 35px;

    }
    .LocalWireInfo {
        position: absolute;
        font-size: 19px;
    }
    .LocalWireBtn {
        position: absolute;
        top: 136em;
        left: 130px;
    }
    .otherProjects {
        position: absolute;
        top: 220em;
        left: 1px;
        flex-flow: wrap; 
    }
    .myCards {
        margin: 52px auto;
        width: 80vw;
    }
    .card-title {
        font-size: 30px;
    }
    .card-text {
        font-size: 20px;
    }
    .learnMoreBtn  {
        font-size: 17px;
    }
    #aboutme {
       position: relative;
       top: 466em;
       right: 52px;
       width: 92vw;
       height: 152vh;
       left: 1px;
       box-shadow: 8px 10px 17px;
    }
    .aboutme-header {
        position: absolute;
        top: -161px;
        left: 166px;
    }
    .aboutMeTitle {
        position: absolute;
        left: -70px;
        font-size: 62px;
        text-decoration: underline;
    }
    .aboutme-content {
        position: relative;
        background-color: #e0e0e0;
    }
    .aboutme-Text {
        position: relative;
        top: 20px;
        font-size: 34px;
        line-height: 39px;
        font-weight: 600;
    }
    .aboutLink {
        position: relative;
        top: 296px;
        white-space: nowrap;
    }
    .linkToMyResume {
        position: absolute;
        bottom: 145px;
        font-size: 32px;
        padding: 4px 21px;
    }
    #connect {
       position: relative;
       top: 529em;
       width: 92vw;
       height: 353px;
       left: 1px;
    }
    .connect-header {
        position: absolute;
        top: -167px;
        left: 131px;
    }
    .connectTitle {
        position: absolute;
        left: -63px;
        font-size: 62px;
        text-decoration: underline;
    }
    .connect-Text {
        font-size: 30px;
        padding: 10px;
        line-height: 40px;
        letter-spacing: 1px;
        font-weight: 600;
    }
    .connectSection {
        position: absolute;
        left: 110px;
        top: 242px;
    }
    .topBtn {
        font-size: 50px;
    }

}
/*  media queries for Modals on mobile vertical */
@media only screen and (min-width:410px) and (max-width: 499px) and (orientation: portrait) { 
.contentsWidth {
    width: 92vw;
    margin: 23% auto;
    box-shadow: 13px 22px 16px;
}
.infoP {
    font-size: 20px;
    line-height: 31px;
    font-weight: 550;
}

}

/* Hamburger Menu for mobile vertical */

@media only screen and (min-width:410px) and (max-width: 499px) and (orientation: portrait) {
    .hamburger-menu {
        display: flex;
        cursor: pointer;
        height: 36px;
        width: 15%;
        right: 10px;
        top: 11px;
        
    }
    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 45% 0 0 60%;
        right: -400px;
        transition: all 0.8s cubic-bezier(1,0,0,1);
    }
    .change{
        right: 0;
    }
    .nav-list {
        text-align: center;
    }
    .nav-item{
        list-style: none;
        margin: 25px;
    }
    .nav-link{
        text-decoration: none;
        color: #eee;
        font-weight: 300px;
        font-size: 22px;
        letter-spacing: 1px;
        text-transform: uppercase;
        position: relative;
        padding: 1px 0;
    }
    .line{
        transition: all 0.5s;
    }
    a:hover {
        color: chocolate;
    }
    .nav-link::before,
    .nav-link::after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: #17a2b8;
        position: absolute;
        left: 0;
        transform: scaleX(0);
        transition:transform 0.5s
    }
    .nav-link::after {
        bottom: 0;
        transform-origin: right;
    }
    .nav-link::before {
        top: 0;
        transform-origin: left;
    }
    .nav-link:hover::before,
    .nav-link:hover::after{
        transform: scaleX(1);
    }
    .change .line-1{
        transform: rotateZ(-405deg) translate(-4px, 18px);
    }
    .change .line-2{
        opacity: 0;
    }
    .change .line-3{
        transform: rotateZ(405deg)  translate(1px, -14px);
    }

    .links {
        display: none;
    }
}



/* 500 pixel  */

@media only screen and (min-width:500px) and (max-width: 600px) {
    body {
        overflow-x: hidden;
    }

    #myNavBar {
        position: fixed;
        top: 0;
        width: 100%;
        padding: 30px;
        z-index: 1;
    }
    .picOfMe {
        position: absolute;
        left: 82px;
        top: 54px;
        height: 440px;
    }
    .myName {
        position: absolute;
        font-size: 40px;
        top: 530px;
        left: 0px;
    }
    .introPar {
        position: absolute;
        top: 703px;
        left: 41px;
    }
    .work {
        display: none;
    }
    .otherProjects {
        flex-wrap: wrap;
    }
    .WeatherContainer {
        position: relative;
        
    }
    .weatherTitle {
        position: absolute;
        left: 74px;
    }
    .weatherPic {
        position: absolute;
        width: 75%;
        left: 71px;
    }
    .weatherDescription {
        position: absolute;
        left: 160px;
    }
    .weatherInfo {
        font-size: 16px;
        max-width: 200px;
    }
    .weatherBtn {
        position: absolute;
        left: 168px;
    }
    .CodeQuizContainer {
        position: relative;
        top: 200px;
    }
    .codeTitle {
        position: absolute;
        left: 148px;
    }
    .picOfCodeQuiz {
        position: absolute;
        width: 75%;
        left: 71px;
    }
    .codeDescription {
        position: absolute;
        left: 160px;
    }
    .codeInfo {
        font-size: 16px;
        max-width: 200px;
    }
    .codeBtn {
        position: absolute;
        left: 168px;
    }
    .LocalWireContainer {
        position: relative;
        top: 352px;
    }
    .LocalWireTitle {
        position: absolute;
        left: 148px;
        white-space: nowrap;
    }
    .LocalWirePic {
        position: absolute;
        width: 75%;
        left: 71px;
    }
    .LocalWireDescription {
        position: absolute;
        top: 145em;
        left: 160px;
    }
    .LocalWireInfo {
        font-size: 16px;
        max-width: 200px;
    }
    .LocalWireBtn {
        position: absolute;
        top: 138em;
        left: 168px;
    }

    .otherProjects {
        position: relative;
        top: 191em;
        left: 69px;
    }
    .myCards {
        margin: 40px;
    }
    #aboutme {
        position: relative;
        top: 210em;
        width: 80vw;
    }
    #connect {
        position: relative;
        top: 220em;
        width: 80vw;
    }
}

/* 600 Pixel mobile Horizontal */
@media only screen and (min-width:600px) and (max-width: 765px) {
    body {
        overflow-x: hidden;
    }
    .otherProjects {
        flex-wrap: wrap;
    }

    #myNavBar {
        position: fixed;
        top: 0;
        padding: 30px;
        width: 100%;
        z-index: 1;
    }
    .picOfMe {
        position: absolute;
        top: 58px;
        left: 266px;
    }
    .myName {
        position: absolute;
        top: 519px;
        left: 100px;
    }
    .introPar {
        position: absolute;
        top: 713px;
        left: 150px;
    }
    .work {
        display: none;
    }
    .WeatherContainer {
        position: relative;
        top: 175px;
        
    }
    .weatherTitle {
        position: absolute;
        left: 236px;
        white-space: nowrap;
    }
    .weatherPic {
        position: absolute;
        width: 75%;
        left: 142px;
    }
    .weatherDescription {
        position: absolute;
        left: 328px;
    }
    .weatherInfo {
        font-size: 19px;
        max-width: 200px;
    }
    .weatherBtn {
        position: absolute;
        top: 78em;
        left: 336px;
    }
    .CodeQuizContainer {
        position: relative;
        top: 346px;
    }
    .codeTitle {
        position: absolute;
        left: 315px;
    }
    .picOfCodeQuiz {
        position: absolute;
        width: 75%;
        left: 142px;
    }
    .codeDescription {
        position: absolute;
        left: 328px;
    }
    .codeInfo {
        font-size: 19px;
        max-width: 200px;
    }
    .codeBtn {
        position: absolute;
        top: 107em;
        left: 336px;
    }
    .LocalWireContainer {
        position: relative;
        top: 451px;
    }
    .LocalWireTitle {
        position: absolute;
        left: 315px;
        white-space: nowrap;
    }
    .LocalWirePic {
        position: absolute;
        width: 75%;
        left: 142px;
    }
    .LocalWireDescription {
        position: absolute;
        top: 145em;
        left: 328px;
    }
    .LocalWireInfo {
        font-size: 19px;
        max-width: 200px;
    }
    .LocalWireBtn {
        position: absolute;
        top: 140em;
        left: 336px;
    }
    .otherProjects {
        position: relative;
        top: 195em;
        left: 100px;
    }
    .myCards {
        margin: 18px;
    }
    #aboutme {
        position: relative;
        top: 210em;
        left: 48px;
        width: 80vw;
    }
    #connect {
        position: relative;
        top: 220em;
        left: 48px;
        width: 80vw;
    }



}



    






