@media only screen and (max-width: 500px) 
{
    .body {
        overflow-x: hidden;
    }
}



@media only screen and (max-width: 500px) 
{
    .myHeader {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) 
{
    #myNavBar {
        display: block;
        padding-right: 2px;
    }
}

@media only screen and (max-width: 500px) 
{
    .homeSection {
        display: block;
        width: 126%;
        margin: 0;
    }
}

@media only screen and (max-width: 500px) 
{
    .picOfMe {
        position: absolute;
        left: 100px;
    }
}

@media only screen and (max-width: 500px) 
{
    .myName {
        position: absolute;
        left: 20%;
        top: 34rem;
        max-width: 400px;
    }
}

@media only screen and (max-width: 500px) 
{
    .introPar {
        position: absolute;
        left: 13%;
        top: 50rem;
        max-width: 400px;
        font-size: large;
    }

}


@media only screen and (max-width: 500px) 
{
    .work {
        position: absolute;
        left: 20%;
        top: 55rem;
    }
    
}


@media only screen and (max-width: 500px) 
{
    .weatherTitle {
        position: absolute;
        left: 20%;
        top: 67rem;
        font-size: 35px;
    }
    
}

@media only screen and (max-width: 500px) 
{
    .weatherPic {
        position: absolute;
        left: 15%;
        top: 71rem;
        height: 220px;
        width: 300px;
    }
    
}

@media only screen and (max-width: 500px) 
{
    .weatherDescription {
        position: absolute;
        left: 12%;
        top: 86rem;
        
    }
    
}

@media only screen and (max-width: 500px) 
{
    .weatherBtn {
        position: absolute;
        left: 32%;
        top: 91rem;
        
    }
    
}