* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    padding-bottom: 257%;
}

.body {
    background-image: url(../images/concrete-texture.png);
}

#myNavBar {
    background-color: darkblue;
    padding: 20px 0 10px 0;
    text-align: center;
    width: 100%;
}

.links {
  
    padding-left: 20px;
    display: inline-block;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger; 
    color: white;
}

.links:hover {
    text-decoration: underline;
}

.homeSection {
    position: relative;
    top: 17px;
}

.picOfMe {
    position: absolute;
    left:232px;
    top: 105px;
    border-radius: 65px;
    box-shadow: 5px 5px 6px rgb(100 97 97) ;
    height: 420px;
    /* clip-path: polygon(0 0, 100% 0, 100% 90%, 30% 100%, 0 90%); */
}

.topBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    background-color: #555558;
    color: white;
    font-size: 36px;
    cursor: pointer;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    transition: 0.7s;
}

.topBtn.active {
    visibility: visible;
    opacity: 1;
}

#message {
    border-radius: 4px;
  border-width: 1px;
  font-size: 13px;
  line-height: 19.5px;
  margin: 0px 0px 16px;
  padding: 12px 59.5px 12px 20px;
  text-align: left;
  width: 300px;
  min-height: 80px;
  position: fixed;
  top: 10px;
  right: -320px;
  opacity: 0;
  transition: all 1s;
}

#message.success {
  opacity: 1;
  right: 10px;
  background-color: hsl(94, 40%, 86%);
  color: hsl(94, 90%, 16%);
  transition: all 1.2s;
}

.myName {
    position: absolute;
    left: 47%;
    top: 13rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xxx-large;
    color: darkblue;
}

.introPar {
    position: absolute;
    left: 49%;
    top: 21rem;
    font-size: large;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.work {
    position: absolute;
    left: 56%;
    top: 24rem;
    padding: 6px 30px;
    box-shadow: 3px 3px 7px;
    border-radius: 3px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    background-color: white;
    color: black;
    border: none;
}

.work:hover {
    background-color: darkblue;
    color: white;
    border: none;
    border-radius: 8px;
}

.myWork {
    position: relative;
}

.WeatherContainer {
    position: relative;
} 

.weatherPic {
    position: absolute;
    left: 34%;
    top: 60rem;
    height: 250px;
    width: 550px;
    border-radius: 6px;
    margin-left: 20px; 
    box-shadow: 7px 11px 12px;
}


.weatherDescription {
    position: absolute;
    left: 41%;
    top: 77rem;

}

.weatherTitle {
    position: absolute;
    left: 40%;
    top: 56rem;
    color: #17a2b8;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 13px;
}


.weatherInfo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    max-width: 366px;
    color: black;
}

.weatherBtn {
    position: absolute;
    left: 45%;
    top: 85rem;
    padding: 4px 32px;
    border-radius: 4px;
    font-size: large;
    background-color: darkblue;
    color: white;
}

.modalForWeatherD {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0,0.6);
}

.weatherDashbored-content {
    margin: 10% auto;
    width: 32%;
    padding: 20px;
    background-color: #eceeef;
    animation: weatherDashboredModal;
    animation-duration: 0.7s ;
}

.closeBtnforWeatherDashBored {
    float: right;
    font-size: 30px;
    margin-top: -11px;
    color: black;
    cursor: pointer;
}

.closeBtnforWeatherDashBored:hover,
.closeBtnforWeatherDashBored:focus {
    color: rgb(21, 118, 212);
}

.modalWeatherHeader {
    text-align: center;
    text-decoration: underline;
}

.modalWeatherInfo {
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
}

.weatherVideo {
    position: relative;
    width: 100%;
}

.modalCodeQuiz {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0,0.6);
}

.CodeQuizContainer {
    position: relative;
    /* top: 80rem; */
}

.codeQuiz-content {
    margin: 10% auto;
    width: 32%;
    padding: 20px;
    background-color: #eceeef;
    animation: codeQuizModal;
    animation-duration: 0.7s ;
}

.modalCodeQuizCloseBtn {
    float: right;
    font-size: 30px;
    margin-top: -11px;
    color: black;
    cursor: pointer;
}

.modalCodeQuizCloseBtn:hover,
.modalCodeQuizCloseBtn:focus {
    color: rgb(21, 118, 212);
}

.modalCodeTitle {
    text-align: center;
    text-decoration: underline;
}

.modalCodeInfo {
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
}

.CodeQuizVideo {
    position: relative;
    left: 20px;
}

.repoLink {
    padding-top: 14px;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
    color: #d23b3b;
}

.appLink {
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
    color:#d23b3b;
}

.appLink:hover,
.repoLink:hover {
    color: blue;
}

/* 
.repoLink:hover {
    color: black;
} */


.codeTitle {
    position: absolute;
    left: 45%;
    top: 89rem;
    color: #17a2b8;
    text-decoration: underline;
    
}


.picOfCodeQuiz {
    position: absolute;
    left: 34%;
    top: 93rem;
    height: 250px;
    width: 550px;
    box-shadow: 7px 11px 12px;
}

.codeDescription {
    position: absolute;
    left: 42%;
    top: 110rem;
}

.codeInfo {
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 366px;
    color: black;
}
.codeBtn {
    position: absolute;
    left: 46%;
    top: 118rem;
    padding: 4px 32px;
    border-radius: 4px;
    font-size: large;
    background-color: darkblue;
    color: white;
}


.LocalWireContainer {
    position: relative;
}

.LocalWireTitle {
    position: absolute;
    left: 45%;
    top: 124rem;
    color: #17a2b8;
    text-decoration: underline;
}

.LocalWirePic {
    position: absolute;
    left: 34%;
    top: 128rem;
    height: 250px;
    width: 550px;
    box-shadow: 7px 11px 12px;
}

.LocalWireDescription {
    position: absolute;
    left: 42%;
    top: 146rem;   
}

.LocalWireInfo {
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 366px;
    color: black;
}

.LocalWireBtn {
    position: absolute;
    left: 46%;
    top: 154rem;
    padding: 4px 32px;
    border-radius: 4px;
    font-size: large;
    background-color: darkblue;
    color: white;
}

.modalLocalWire {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0,0.6);
}

.LocalWire-Content {
    margin: 10% auto;
    width: 32%;
    padding: 20px;
    background-color: #eceeef;
    animation: localWireModal;
    animation-duration: 0.7s ;
}

.modalLocalWireCloseBtn {
    float: right;
    font-size: 30px;
    margin-top: -11px;
    color: black;
    cursor: pointer;
}

.modalLocalWireCloseBtn:hover,
.modalLocalWireCloseBtn:focus {
    color: rgb(21, 118, 212);
}

.modalLocalWireTitle {
    text-align: center;
    text-decoration: underline;
}

.modalLocalWireInfo {
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
}

.localWireVideo {
    position: relative;
    left: 20px;
}

.otherProjects {
    position: absolute;
    display: inline-flex;
    left: 13em;
    top: 166em;
}

.myCards {
    width: 18rem;
    margin: 4px;
    box-shadow: 0px 12px 10px;
}

.card-img-top {
    height: 200px;
    border-radius: 3px;
}

.card-title {
    text-align: center;
    text-decoration: underline;
}

.card-text {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 16px;
}


.card-body {
    background-color: #ebeaea;
}

.learnMoreBtn {
    background-color: darkblue;
    color: white;
}

.modalPassword-Generator {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0,0.6);
}

.passwordGenerator-content {
    margin: 10% auto;
    width: 32%;
    padding: 20px;
    background-color: #eceeef;
    animation: passwordGeneratorModal;
    animation-duration: 0.7s ;
}

.closeBtnForPasswordGenerator {
    float: right;
    font-size: 30px;
    margin-top: -11px;
    color: black;
    cursor: pointer;
}

.closeBtnForPasswordGenerator:hover,
.closeBtnForPasswordGenerator:focus {
    color: rgb(21, 118, 212);
}

.passwordTitle {
    text-align: center;
    text-decoration: underline;
}

.passwordText {
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
}

.modalNoteTaker {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0,0.6);
}

.modal-content-for-NoteTaker {
    margin: 10% auto;
    width: 32%;
    padding: 20px;
    background-color: #eceeef;
    animation: noteTakerModal;
    animation-duration: 0.7s;
}

.noteTaker-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
}

.closeBtnforNoteTaker {
    float: right;
    font-size: 30px;
    margin-top: -11px;
    color: black;
    cursor: pointer;
}

.closeBtnforNoteTaker:hover,
.closeBtnforNoteTaker:focus {
    color: rgb(21, 118, 212);

}

.noteTitle {
    text-align: center;
    text-decoration: underline;
}

.noteTaker-video {
    position: relative;
    left: 20px;
}

.modalEmployeeD {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0,0.6);
    overflow: auto;
}

.modal-content-for-EmployeeD {
    margin: 10% auto;
    width: 32%;
    padding: 20px;
    background-color: #eceeef;
    animation: employeeDModal;
    animation-duration: 0.7s;
}

.closeBtnforEmployeeD {
    float: right;
    font-size: 30px;
    margin-top: -11px;
    color: black;
    cursor: pointer;
}

.closeBtnforEmployeeD:hover,
.closeBtnforEmployeeD:focus {
    color: rgb(21, 118, 212);
}

.EmployeeDTitle {
    text-align: center;
    text-decoration: underline;
}

.EmployeeD-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
}

.employeeDVideo {
    position: relative;
    left: 20px;
}

.modalEatDaBurger {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0,0.6);
    overflow: auto;
}

.modal-content-for-EatDaBurger {
    margin: 10% auto;
    width: 32%;
    padding: 20px;
    background-color: #eceeef;
    animation: eatDaBurgerModal;
    animation-duration: 0.7s;
}

.closeBtnforEatDaBurger {
    float: right;
    font-size: 30px;
    margin-top: -11px;
    color: black;
    cursor: pointer;
}

.closeBtnforEatDaBurger:hover,
.closeBtnforEatDaBurger:focus {
    color: rgb(21, 118, 212);
}

.EatDaBurgerTitle {
    text-align: center;
    text-decoration: underline;
}

.EatDaBurger-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
}

.EatDaBurgerVideo {
    position: relative;
    left: 20px;
}

.modalFitnessTracker {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0,0.6);
    overflow: auto;
}

.modal-content-for-FitnessTracker {
    margin: 10% auto;
    width: 32%;
    padding: 20px;
    background-color: #eceeef;
    animation: fitnessTrackerModal;
    animation-duration: 0.7s ;
}

.closeBtnforFitnessTracker {
    float: right;
    font-size: 30px;
    margin-top: -11px;
    color: black;
    cursor: pointer;
}

.closeBtnforFitnessTracker:hover,
.closeBtnforFitnessTracker:focus {
    color: rgb(21, 118, 212);
}

.FitnessTrackerTitle {
    text-align: center;
    text-decoration: underline;
}

.FitnessTracker-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
}
.FitnessTrackerVideo {
    position: relative;
    left: 20px;
}

.title {
    background-color: red;
}

#aboutme {
    position: relative;
    top: 200em;
    background-color: #ebeaea;
    width: 48%;
    margin: 10% auto;
    text-align: center;
    box-shadow: 7px 10px 10px;
}

.aboutme-header {
    position: relative;
    bottom: 6.6em;
    text-align: center;
    text-decoration: underline;  
    color: #17a2b8;
}

.aboutme-content {
    position: relative;
    height: 308px;
    
    
}

.aboutme-Text {
    padding: 0 15px 0 15px;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 22px;
    margin-top: -31px;
}


.linkToMyResume {
    color: white;
}

.linkToMyResume:hover {
    color: white;
}

.aboutLink  {
    position: relative;
    padding: 5px;
    width: 32%;
    top:45px;
    left: 32%;
    background-color:#538c9f;
    box-shadow: 4px 6px 8px;
}

.myResumeIcon {
    font-size: 20px;
    cursor: pointer;
}

#connect {
    position: relative;
    top: 210em;
    background-color: #ebeaea;
    width: 48%;
    margin: 10% auto;
    text-align: center;
    box-shadow: 7px 10px 10px;
}

.connect-header {
    position: relative;
    bottom: 6.6em;
    text-align: center;
    text-decoration: underline;  
    color: #17a2b8;
}

.connect-content {
    position: relative;
    height: 142px;
}

.connect-Text {
    padding: 0 15px 0 15px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 27px;
    margin-top: -31px;
}

.connectSection {
    padding-bottom: 10px;
}
.connectLinks {
    list-style: none;
    display: inline-block;
    padding: 0px 15px;
}

.connectIcons {
    filter: grayscale(100%);
    opacity: .6;
    transition: .4s;
    height: 50px ;
    width: 50px;
    transition: width 3s, height 3s, transform 3s;
}

.connectIcons:hover {
    filter: grayscale(0%);
    opacity: 1;
    margin-top: -5px;
    box-shadow: 4px 6px 7px rgb(0,0,0,0.9);
    transform: rotate(360deg);
}

.githubIcon {
    border-radius: 7px;
}




.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 12px 0;
    background-color: darkblue;
    color: white;
    text-align: center;
}
/* Animation for Modals */
@keyframes passwordGeneratorModal {
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes noteTakerModal {
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes employeeDModal {
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes eatDaBurgerModal {
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes fitnessTrackerModal {
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes weatherDashboredModal {
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes codeQuizModal {
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes localWireModal {
    from{opacity: 0;}
    to{opacity: 1;}
}














        





