* {
    padding: 0;
    margin: 0;
}

.body {
    background-image: url(../images/concrete-texture.png);
    padding-bottom: 40px;
    
}

#myNavBar {
    /* position: fixed;
    top: 0;
    width: 100%;
    z-index: 0.5; */
    background-color: darkblue;
    padding: 20px 0 10px 0;
    text-align: center;
    width: 100%;
    /* margin: 0 20px; */
    
}

.links {
  
    padding-left: 20px;
    display: inline-block;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger; 
    color: white;
}

.links:hover {
    text-decoration: underline;
    
}

.homeSection {
    position: relative;
    z-index: 1;
    /* height: 92vh; */
}

.picOfMe {
    position: absolute;
    left:232px;
    top: 105px;
    border-radius: 65px;
    box-shadow: 5px 5px 6px rgb(100 97 97) ;
    height: 420px;
    /* clip-path: polygon(0 0, 100% 0, 100% 90%, 30% 100%, 0 90%); */
}

.myName {
    position: absolute;
    left: 47%;
    top: 13rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xxx-large;
    color: darkblue;
}

.introPar {
    position: absolute;
    left: 49%;
    top: 21rem;
    font-size: large;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.work {
    position: absolute;
    left: 56%;
    top: 24rem;
    padding: 6px 20px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    background-color: white;
    color: black;
    box-shadow: 2px 2px ;
}

.work:hover {
    background-color: rgb(12, 12, 184);
    color: white;
    border-radius: 8px;
    
}

.myWork {
    position: relative;
}

.weatherPic {
    position: absolute;
    left: 34%;
    top: 60rem;
    height: 250px;
    width: 550px;
    border-radius: 6px;
    /* clip-path: circle(65%); */
    margin-left: 20px; 
}


.weatherDescription {
    position: absolute;
    left: 30%;
    top: 77rem;

}

.weatherTitle {
    position: absolute;
    left: 40%;
    top: 56rem;
    color: #17a2b8;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 13px;
}


.weatherInfo {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: bold;
    /* line-height: 10px; */
}

.weatherBtn {
    position: absolute;
    left: 45%;
    top: 81rem;
    padding: 4px 32px;
    border-radius: 4px;
    font-size: large;
    background-color: darkblue;
    color: white;
}

.modalForWeather {
    background-color: rgb(0,0,0,0.9);
    position: absolute;
    top: 0;
    height: 200%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.hideWeatherModal {
    display: none;
}

.modalContent {
    overflow: scroll;
    overflow-x: hidden;
    background-color: lightgray;
    padding: 3rem;
}

.modalWeatherHeader {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    color: #17a2b8;
}

.modalWeatherInfo {
    max-width: 450px;
    padding: 20px 0 0 39px;
    text-align: center;
    color: black;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}

.modalWeatherCloseBtn {
    display: flex;
    justify-content: flex-end;
    margin-right: -2rem;
    margin-top: -2rem;
    cursor: pointer;
    color: red;
    font-size: large;
    font-weight: bolder;
}

.repoLink {
    padding-top: 14px;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
    color: #074596;
}

.appLink {
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
    color:#074596;
}

.codeTitle {
    position: absolute;
    left: 40%;
    top: 87rem;
}


.picOfCodeQuiz {
    position: absolute;
    left: 30%;
    top: 90rem;
    height: 250px;
    width: 550px;
}








    





