* {
    padding: 0;
    margin: 0;
}

.body {
    background-image: url(../images/concrete-texture.png);
}

#myNavBar {
    background-color: darkblue;
    padding: 20px 0 10px 0;
    text-align: center;
    width: 100%;
}

.links {
  
    padding-left: 20px;
    display: inline-block;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger; 
    color: white;
}

.links:hover {
    text-decoration: underline;
}

.homeSection {
    position: relative;
}

.picOfMe {
    position: absolute;
    left:232px;
    top: 105px;
    border-radius: 65px;
    box-shadow: 5px 5px 6px rgb(100 97 97) ;
    height: 420px;
    /* clip-path: polygon(0 0, 100% 0, 100% 90%, 30% 100%, 0 90%); */
}

.topBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    background-color: darkblue;
    color: white;
    font-size: 36px;
    cursor: pointer;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    transition: 0.7s;
}

.topBtn.active {
    visibility: visible;
    opacity: 1;
}

.myName {
    position: absolute;
    left: 47%;
    top: 13rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xxx-large;
    color: darkblue;
}

.introPar {
    position: absolute;
    left: 49%;
    top: 21rem;
    font-size: large;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.work {
    position: absolute;
    left: 56%;
    top: 24rem;
    padding: 6px 20px;
    box-shadow: 3px 3px 7px;
    border-radius: 3px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    background-color: white;
    color: black;
    border: none;
}

.work:hover {
    background-color: darkblue;
    color: white;
    border-radius: 8px;
    border: none;
    
}

.myWork {
    position: relative;
}


.containerForApplication {
    margin-left: auto;
    margin-right: auto;
}
.weatherPic {
    position: absolute;
    left: 34%;
    top: 60rem;
    height: 250px;
    width: 550px;
    border-radius: 6px;
    margin-left: 20px; 
    box-shadow: 7px 11px 12px;
}


.weatherDescription {
    position: absolute;
    left: 45%;
    top: 77rem;

}

.weatherTitle {
    position: absolute;
    left: 40%;
    top: 56rem;
    color: #17a2b8;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 13px;
}


.weatherInfo {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: bold;
    max-width: 366px;
}

.weatherBtn {
    position: absolute;
    left: 45%;
    top: 85rem;
    padding: 4px 32px;
    border-radius: 4px;
    font-size: large;
    background-color: darkblue;
    color: white;
}

.CodeQuizContainer {
    top: 80rem;
}

.modalForWeatherD {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.weatherDashbored-content {
    margin: 10% auto;
    width: 32%;
    padding: 20px;
    background-color: #eceeef;
}

.closeBtnforWeatherDashBored {
    float: right;
    font-size: 30px;
    margin-top: -11px;
    color: black;
    cursor: pointer;
}

.closeBtnforWeatherDashBored:hover,
.closeBtnforWeatherDashBored:focus {
    color: rgb(21, 118, 212);
}

.modalWeatherHeader {
    text-align: center;
    text-decoration: underline;
}

.modalWeatherInfo {
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
}

.weatherVideo {
    position: relative;
    left: 20px;
}

.modalCodeQuiz {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.codeQuiz-content {
    margin: 10% auto;
    width: 32%;
    padding: 20px;
    background-color: #eceeef;
}

.modalCodeQuizCloseBtn {
    float: right;
    font-size: 30px;
    margin-top: -11px;
    color: black;
    cursor: pointer;
}

.modalCodeQuizCloseBtn:hover,
.modalCodeQuizCloseBtn:focus {
    color: rgb(21, 118, 212);
}

.modalCodeTitle {
    text-align: center;
    text-decoration: underline;
}

.modalCodeInfo {
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
}

.CodeQuizVideo {
    position: relative;
    left: 20px;
}

/* .closeIcon:hover {
    color: rgb(21, 118, 212);
} */

.repoLink {
    padding-top: 14px;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
    color: #074596;
}

.repoLink:hover {
    color: black;
}

.appLink {
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
    color:#074596;
}

.appLink:hover {
    color: black;
}

.codeTitle {
    position: absolute;
    left: 45%;
    top: 89rem;
    color: #17a2b8;
    text-decoration: underline;
    
}


.picOfCodeQuiz {
    position: absolute;
    left: 34%;
    top: 93rem;
    height: 250px;
    width: 550px;
    box-shadow: 7px 11px 12px;
}

.codeDescription {
    position: absolute;
    left: 43%;
    top: 110rem;
}

.codeInfo {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    max-width: 315px;
}
.codeBtn {
    position: absolute;
    left: 46%;
    top: 119rem;
    padding: 4px 32px;
    border-radius: 4px;
    font-size: large;
    background-color: darkblue;
    color: white;
}


.LocalWireTitle {
    position: absolute;
    left: 45%;
    top: 124rem;
    color: #17a2b8;
    text-decoration: underline;
}

.LocalWirePic {
    position: absolute;
    left: 34%;
    top: 128rem;
    height: 250px;
    width: 550px;
    box-shadow: 7px 11px 12px;
}

.LocalWireDescription {
    position: absolute;
    left: 43%;
    top: 146rem;   
}

.LocalWireInfo {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    max-width: 300px;
}

.LocalWireBtn {
    position: absolute;
    left: 46%;
    top: 156rem;
    padding: 4px 32px;
    border-radius: 4px;
    font-size: large;
    background-color: darkblue;
    color: white;
}

.modalLocalWire {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.LocalWire-Content {
    margin: 10% auto;
    width: 32%;
    padding: 20px;
    background-color: #eceeef;
}

.modalLocalWireCloseBtn {
    float: right;
    font-size: 30px;
    margin-top: -11px;
    color: black;
    cursor: pointer;
}

.modalLocalWireCloseBtn:hover,
.modalLocalWireCloseBtn:focus {
    color: rgb(21, 118, 212);
}

.modalLocalWireTitle {
    text-align: center;
    text-decoration: underline;
}

.modalLocalWireInfo {
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
}

.localWireVideo {
    position: relative;
    left: 20px;
}

/* .modalBackGroundLocalWire{
    background-color: rgb(0,0,0,0.8);
    position: fixed;
    top: 0px;
    height: 100vh;
    width: 100vw;
}

.modalForLocalWire {
    padding: 6em 0 0 41em;
    display: inline-block;
}

.hideLocalWire {
    display: none;
}

.modalLocalWireCloseBtn {
    display: flex;
    justify-content: flex-end;
    margin-right: -2rem;
    margin-top: -2rem;
    cursor: pointer;
    color: black;
    font-size: large;
    font-weight: bolder;
}

.modalContentForLocalWire {
    overflow-x: hidden;
    background-color: lightgray;
    padding: 3rem;
}

.modalLocalWireHeader {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    color: #17a2b8;
}
.modalLocalWireInfo {
    max-width: 450px;
    padding: 20px 0 0 39px;
    text-align: center;
    color: black;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
} */
.otherProjects {
    position: absolute;
    display: inline-flex;
    left: 13em;
    top: 166em;
}

.myCards {
    width: 18rem;
    margin: 4px;
}

.card-img-top {
    height: 200px;
    border-radius: 3px;
}

.card-title {
    text-align: center;
    text-decoration: underline;
}

.card-text {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 16px;
}


.card-body {
    background-color: #ebeaea;
}

.learnMoreBtn {
    background-color: darkblue;
    color: white;
}

.modalPassword-Generator {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.passwordGenerator-content {
    margin: 10% auto;
    width: 32%;
    padding: 20px;
    background-color: #eceeef;
    animation: passwordGeneratorModal;
    animation-duration: 0.7s ;
}

.closeBtnForPasswordGenerator {
    float: right;
    font-size: 30px;
    margin-top: -11px;
    color: black;
    cursor: pointer;
}

.closeBtnForPasswordGenerator:hover,
.closeBtnForPasswordGenerator:focus {
    color: rgb(21, 118, 212);
}

.passwordTitle {
    text-align: center;
    text-decoration: underline;
}

.passwordText {
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
}

.modalNoteTaker {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content-for-NoteTaker {
    margin: 10% auto;
    width: 32%;
    padding: 20px;
    background-color: #eceeef;
    animation: noteTakerModal;
    animation-duration: 0.7s;
}

.noteTaker-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
}

.closeBtnforNoteTaker {
    float: right;
    font-size: 30px;
    margin-top: -11px;
    color: black;
    cursor: pointer;
}

.closeBtnforNoteTaker:hover,
.closeBtnforNoteTaker:focus {
    color: rgb(21, 118, 212);

}

.noteTitle {
    text-align: center;
    text-decoration: underline;
}

.noteTaker-video {
    position: relative;
    left: 20px;
}

.modalEmployeeD {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: auto;
}

.modal-content-for-EmployeeD {
    margin: 10% auto;
    width: 32%;
    padding: 20px;
    background-color: #eceeef;
    animation: employeeDModal;
    animation-duration: 0.7s;
}

.closeBtnforEmployeeD {
    float: right;
    font-size: 30px;
    margin-top: -11px;
    color: black;
    cursor: pointer;
}

.closeBtnforEmployeeD:hover,
.closeBtnforEmployeeD:focus {
    color: rgb(21, 118, 212);
}

.EmployeeDTitle {
    text-align: center;
    text-decoration: underline;
}

.EmployeeD-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
}

.employeeDVideo {
    position: relative;
    left: 20px;
}

.modalEatDaBurger {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: auto;
}

.modal-content-for-EatDaBurger {
    margin: 10% auto;
    width: 32%;
    padding: 20px;
    background-color: #eceeef;
    animation: eatDaBurgerModal;
    animation-duration: 0.7s;
}

.closeBtnforEatDaBurger {
    float: right;
    font-size: 30px;
    margin-top: -11px;
    color: black;
    cursor: pointer;
}

.closeBtnforEatDaBurger:hover,
.closeBtnforEatDaBurger:focus {
    color: rgb(21, 118, 212);
}

.EatDaBurgerTitle {
    text-align: center;
    text-decoration: underline;
}

.EatDaBurger-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
}

.EatDaBurgerVideo {
    position: relative;
    left: 20px;
}

.modalFitnessTracker {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: auto;
}

.modal-content-for-FitnessTracker {
    margin: 10% auto;
    width: 32%;
    padding: 20px;
    background-color: #eceeef;
    animation: fitnessTrackerModal;
    animation-duration: 0.7s ;
}

.closeBtnforFitnessTracker {
    float: right;
    font-size: 30px;
    margin-top: -11px;
    color: black;
    cursor: pointer;
}

.closeBtnforFitnessTracker:hover,
.closeBtnforFitnessTracker:focus {
    color: rgb(21, 118, 212);
}

.FitnessTrackerTitle {
    text-align: center;
    text-decoration: underline;
}

.FitnessTracker-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
}
.FitnessTrackerVideo {
    position: relative;
    left: 20px;
}

.title {
    background-color: red;
}


/* Animation for Modals */
@keyframes passwordGeneratorModal {
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes noteTakerModal {
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes employeeDModal {
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes eatDaBurgerModal {
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes fitnessTrackerModal {
    from{opacity: 0;}
    to{opacity: 1;}
}














    





