
@media only screen and (max-width: 700px) and (min-width: 500px)
{
    .body {
        overflow-x: hidden;
    }
}

 /* Size Screen from 756px and going down till 700px.. When mobile is horizontal */

 @media only screen and (min-width:701px) and (max-width: 756px) {
    body {
        overflow-x: hidden;
    }
}


 @media only screen and (min-width:701px) and (max-width: 756px) {
    .myHeader {
        position: relative;
        width: 175%;
    }
}

/* @media only screen and (min-width:701px) and (max-width: 756px) {
    #myNavBar {
        padding: 20px 0 20px 0 ;
    }
} */


@media only screen and (min-width:701px) and (max-width: 756px) {
    .picOfMe {
        position: relative;
        top: 103px;
        left: 105px;
    }
}

@media only screen and (min-width:701px) and (max-width: 756px) {
    .myName {
        position: relative;
        top: -236px;
        left: 14em;
        max-width: 412px;
    }
}

@media only screen and (min-width:701px) and (max-width: 756px) {
    .introPar {
        position: relative;
        top: -206px;
        left: 35em;
        max-width: 562px;
    }
}


/* Modal's content width */
@media only screen and  (min-width:701px) and (max-width:756px) {
    .contentsWidth {
        width: 42%;
    }
}

/* Mobile horizontal screen Weather Dashbored App */
@media only screen and (min-width:701px) and (max-width: 756px) {
    .WeatherContainer {
        position: relative;
        bottom: 569px;
        left: 14em;
        
    }
    .weatherTitle {
        position: relative;
       left: 61px;
    }
    .weatherPic {
        position: relative;
        top: 56em;
       left: 150px;
    }
    .weatherDescription {
        position: relative;
        top: 57em;
        left: 17em;
        max-width: 343px;
    }
    .weatherBtn {
        position: relative;
        top: 52em;
        left: 340px;
    }

}
 /* Mobile horizontal Code Quiz App */
@media only screen and (min-width:701px) and (max-width: 756px) {
    .CodeQuizContainer {
        position: relative;
        bottom: 57em;
        left: 14em;
        
    }
    .picOfCodeQuiz {
        position: relative;
        left: 150px;
        
    }
    .codeDescription {
        position: relative;
        top: 95em;
        left: 17em;
        max-width: 343px;
    }
    .codeBtn {
        position: relative;
        top: 86em;
        left: 340px;
    }
}



@media only screen and (min-width:701px) and (max-width: 756px) {
    .LocalWireContainer {
        position: relative;
        bottom: 75em;
        left: 14em;
        
    }
    .LocalWireTitle {
        position: relative;
    }
    .LocalWirePic {
        position: relative;
        top: 125em;
       left: 150px;
    }
    .LocalWireDescription {
        position: relative;
        top: 126em;
        left: 17em;
        max-width: 343px;
    }
    .LocalWireBtn {
        position: relative;
        top: 112em;
        left: 340px;
    }
    .otherProjects {
        position: relative;
        left: 22em;
        top: 74em;
        
    } 
}


@media only screen and (min-width:701px) and (max-width: 756px) {
    #aboutme {
        position: relative;
       top: 107em;
       left: 16em;
    }
}

@media only screen and (min-width:701px) and (max-width: 756px) {
    #connect {
        position: relative;
       top: 123em;
       left: 16em;
    }
}


@media only screen and (min-width:701px) and (max-width: 756px) {
    .work {
        display: none
    }
}

/* Screen size from 700 and going down till 500px */
@media only screen and (min-width: 600px) and (max-width: 700px)
{
    .picOfMe {
    position: relative;
    top: 64px;
    left: 185px;
}

}

@media only screen and (min-width: 600px) and (max-width: 700px)
{
    .myName {
        position: relative;
        top: 92px;
        font-size: 56px;
        left: 236px;
        max-width: 200px;
}
        
}

@media only screen and (min-width: 600px) and (max-width: 700px)
{
    .introPar {
    position: relative;
    top: 211px;
    left: 243px;
    font-size: 29px;
    max-width: 200px; 
}
        
}

@media only screen and (min-width: 600px) and (max-width: 700px)
{
    .WeatherContainer {
    position: relative;
    bottom: 483px;
    right: 42px;
}
        
}

@media only screen and (min-width: 600px) and (max-width: 700px)
{
    .CodeQuizContainer {
    position: relative;
    bottom: 401px;
    right: 42px;
}
        
}

@media only screen and (min-width: 600px) and (max-width: 700px)
{
    .LocalWireContainer {
    position: relative;
    bottom: 319px;
    right: 42px;
}
        
}

@media only screen and (min-width: 660px) and (max-width: 700px)
{
    .otherProjects {
    position: relative;
    left: 54px;
    top: 149em;
}
        
}
@media only screen and (min-width: 600px) and (max-width: 659px)
{
    .otherProjects {
        position: relative;
        display: block;
        top: 144em;
        left: 140px;
}
        
}

@media only screen and (min-width:600px) and (max-width: 700px) {
    #aboutme {
      top: 164em;
      left: 42px;
    }
}

@media only screen and (min-width:500px) and (max-width: 658px) {
    .myResumeIcon {
     position: absolute;
     top: 52px;
    }
}

@media only screen and (min-width:600px) and (max-width: 700px) {
    #connect {
      top: 176em;
      left: 42px;
    }
}



/* screen size from 599px and smaller */

@media only screen and (min-width: 500px) and (max-width: 599px)
{
    .picOfMe {
    left: 155px;
    top: 65px;
}

}

@media only screen and (min-width: 500px) and (max-width: 599px)
{
    .myName {
    left: 208px;
    top: 559px;
    max-width: 388px;
}

}

@media only screen and (min-width: 500px) and (max-width: 599px)
{
    .introPar {
    top: 828px;
    left: 132px;
    max-width: 388px;
}

}

@media only screen and (min-width: 500px) and (max-width: 599px)
{
    .weatherTitle {
    top: 25em;
    left: 3em;
}
}

@media only screen and (min-width: 500px) and (max-width: 599px)
{
    .weatherPic {
    width: 384px;
    left: 85px;
    top: 68em;
}
}

@media only screen and (min-width: 500px) and (max-width: 599px)
{
    .weatherDescription {
    left: 124px;
    top: 86em;
}
}

@media only screen and (min-width: 500px) and (max-width: 599px)
{
    .weatherBtn {
    top: 83em;
    left: 220px;
}
}

@media only screen and (min-width: 500px) and (max-width: 599px)
{
    .codeTitle {
    top: 41em;
    left: 5em;
}
}

@media only screen and (min-width: 500px) and (max-width: 599px)
{
    .picOfCodeQuiz {
        width: 384px;
        left: 102px;
        top: 108em;
}
}

@media only screen and (min-width: 500px) and (max-width: 599px)
{
    .codeDescription {
    top: 126em;
    left: 124px;
}
}

@media only screen and (min-width: 500px) and (max-width: 599px)
{
    .codeBtn {
    top: 119em;
    left: 220px;
}
}

@media only screen and (min-width: 500px) and (max-width: 599px)
{
    .LocalWireTitle {
    top: 57em;
    left: 5em;
}
}

@media only screen and (min-width: 500px) and (max-width: 599px)
{
    .LocalWirePic {
    width: 384px;
    left: 107px;
    top: 148em;
}
}

@media only screen and (min-width: 500px) and (max-width: 599px)
{
    .LocalWireDescription {
    top: 166em;
    left: 124px;
}
}

@media only screen and (min-width: 500px) and (max-width: 599px)
{
    .LocalWireBtn {
    top: 155em;
    left: 220px;
}
}

@media only screen and (min-width: 500px) and (max-width: 599px)
{
    .otherProjects {
    top: 187em;
    left: 113px;
}
}

@media only screen and (min-width: 500px) and (max-width: 599px)
{
    #aboutme {
        position: relative;
        top: 346em;
        left: 10px;
}
}

@media only screen and (min-width: 500px) and (max-width: 599px)
{
    .aboutme-content {
        position: relative;
        height: 371px;
        width: 100%;
}
}

@media only screen and (min-width: 500px) and (max-width: 599px)
{
    #connect {
        top: 366em;
        left: 10px;
}
}



/* screen size smaller than 558px */

@media only screen and (min-width: 500px) and (max-width: 558px)
{
    .aboutme-content {
        position: relative;
        height: 406px;
}
}

@media only screen and (min-width: 500px) and (max-width: 543px)
{
    .connect-content {
        height: 183px;
}
}


/* Mobile screen 500px and smaller */

@media only screen and (min-width: 375px) and (max-width: 500px) 
{
    html, body {
        padding-bottom: 200vh;
    }
}



@media only screen  and (max-width: 499px) {
    .myHeader {
        width: 402%;
    }
}

@media only screen and (min-width: 375px) and (max-width: 499px) {
    html {
        overflow-x: hidden;
    }
}

@media only screen and (min-width: 375px) and (max-width: 500px) {
    #myNavBar {
        position: relative;
        width: 249%;
        padding: 80px;
        text-align: center;
    }
}

/* hiding navbar menu on mobile Vertical */
@media only screen and (min-width: 375px) and (max-width: 500px) 
{
    .navbar {
        right: -700px;
    }
    .change {
        right: 0;
    }
    .nav-link {
        font-size: 4em;
    }
}



@media only screen and (max-width: 501px) 
{
    .myHeader {
        width: 161%;
    }
}

@media only screen and (min-width: 375px) and (max-width: 500px) 
{
    .links {
        position: relative;
        font-size: 4em;
        padding-right: 43px;
    }
}


@media only screen and (min-width: 375px) and (max-width: 500px) 
{
    .picOfMe {
        position: relative;
        top: 35px;
        left: 438px;
        height: 60em;
    }
}

@media only screen and (min-width: 375px) and (max-width: 500px) 
{
    .myName {
        position: relative;
        left: 570px;
        top: 143px;
        font-size: 112px;
    }
}

@media only screen and (min-width: 375px) and (max-width: 500px) 
{
    .introPar {
        position: relative;
        top: 5em;
        left: 614px;
        font-size: 47px;
    }

}

/* weather Dashbored */

@media only screen and (min-width: 375px) and (max-width: 500px) 
{
    .WeatherContainer {
        position: relative;
        width: 100%;
        left: 393px;
        bottom: 33em;
    }

}


@media only screen and (min-width: 375px) and (max-width: 500px) 
{
    .weatherTitle {
        position: relative;
        top: 30em;
        left: 205px;

    }
}

@media only screen and (min-width: 375px) and (max-width: 500px) 
{
    .weatherPic {
        position: relative;
        top: 77em;
        left: -46px;
        height: 29em;
        width: 900px;

    }
}

@media only screen and (min-width: 375px) and (max-width: 500px) 
{
    .weatherDescription {
        position: relative;
        top: 83em;
        left: 15em;

    }
}

@media only screen and (min-width: 375px) and (max-width: 500px) 
{
    .weatherInfo {
        position: relative;
        font-size: 40px;
    }
}

@media only screen and (min-width: 375px) and (max-width: 500px) 
{
    .btnForWeatherApp {
        position: relative;
        left: 50px;

    }
}

@media only screen and (min-width: 375px) and (max-width: 500px) 
{
    .weatherBtn {
        position: relative;
        width: 73%;
        padding: 6px 20px;
        font-size: 41px;
    }
}


/* Code Quiz App */

@media only screen and (min-width: 375px) and (max-width: 500px) 
{
    .CodeQuizContainer {
        position: relative;
        width: 100%;
        left: 393px;
        bottom: 12em;
    }

}

@media only screen and (min-width: 375px) and (max-width: 500px) 
{
    .codeTitle {
        position: relative;
        font-size: 80px;
    }

}

@media only screen and (min-width: 375px) and (max-width: 500px) 
{
    .picOfCodeQuiz {
        position: relative;
        left: -46px;
        height: 29em;
        width: 900px;
    }

}

@media only screen and (min-width: 375px) and (max-width: 500px) 
{
    .codeDescription {
        position: relative;
        top: 99em;
        left: 15em;
    }

}

@media only screen and (min-width: 375px) and (max-width: 500px) 
{
    .codeInfo {
        position: relative;
        font-size: 40px;
    }

}

@media only screen and (min-width: 375px) and (max-width: 500px) 
{
    .btnForCodeApp {
        position: relative;
        left: 50px;
        bottom: 236px;
    }

}

@media only screen and (min-width: 375px) and (max-width: 500px) 
{
    .codeBtn {
        position: relative;
        width: 73%;
        padding: 6px 20px;
        font-size: 41px;
    }

}


/* Local-Wire App */

@media only screen and (min-width: 375px) and (max-width: 500px) 
{
    .LocalWireContainer {
        position: relative;
        width: 100%;
        left: 393px;
        bottom: 200px;

        
    }

}

@media only screen and (min-width: 375px) and (max-width: 500px) 
{
    .LocalWireTitle {
        position: relative;
        left: 205px;
        font-size: 80px;
    }

}

@media only screen and (min-width: 375px) and (max-width: 500px) 
{
    .LocalWirePic {
        position: relative;
        left: -46px;
        height: 29em;
        width: 900px;

    }
}

@media only screen and (min-width: 375px) and (max-width: 500px) 
{
    .LocalWireDescription {
        position: relative;
        top: 135em;
        left: 15em;

    }
}

@media only screen and (min-width: 375px) and (max-width: 500px) 
{
    .LocalWireInfo {
        position: relative;
       font-size: 40px;

    }
}

@media only screen and (min-width: 375px) and (max-width: 500px) 
{
    .btnForLocalWire {
        position: relative;
        bottom: 244px;
        left: 50px;

    }
}

@media only screen and (min-width: 375px) and (max-width: 500px) 
{
    .LocalWireBtn {
        position: relative;
        width: 73%;
        padding: 6px 20px;
        font-size: 41px;
    }
}


/* Rest of my projects */

@media only screen and (min-width: 375px) and (max-width: 500px) {
    .otherProjects {
        position: relative;
        left: 25em;
        width: 187%;

    }
}

@media only screen and (min-width: 375px) and (max-width: 500px) {
    .myCards {
        position: relative;
        margin: 30px;
        width: 100%;
        

    }
}

@media only screen and (min-width: 375px) and (max-width: 500px) {
    .card-img-top {
        position: relative;
        width: 100%;
        height: 25em;
    
    }
    .card-title {
        font-size: 42px;
    }
    .card-body {
        width: 100%;
    }
    .card-text {
        padding: 12px;
        font-size: 41px;
        line-height: 55px;
    }
    .btn  {
        width: 100%;
        padding: 6px 20px;
        font-size: 34px;
    }
}


/* About Me Section */

@media only screen and (min-width: 375px) and (max-width: 500px) 
{
    #aboutme {
        position: relative;
        top: 204em;
        left: 26em;
        width: 187%;
        height: 100%;
    }
}

@media only screen and (min-width: 375px) and (max-width: 500px) 
{
    .aboutMeTitle {
        position: relative;
        font-size: 100px;
        bottom: 91px;
    }
    /* .aboutme-content {
        position: relative;
        height: 100vh;
    } */
    .aboutme-Text {
        position: relative;
        font-size: 46px;
        line-height: 62px;
    }
    .myResumeIcon {
        position: absolute;
        font-size: 46px;
        padding-bottom: 6px 30px;
    }
}

@media only screen and (min-width: 375px) and (max-width: 414px) 
{
    .aboutme-content {
        position: relative;
        height: 123vh;
    }
}

/* Connect Section */


@media only screen and (min-width: 375px) and (max-width: 500px) 
{
    #connect {
        position: relative;
        top: 236em;
        left: 26em;
        width: 187%;
        height: 100%;
    }
    .connectTitle {
        position: relative;
        font-size: 100px;
        bottom: 90px
    }
    .connect-content {
        height: 50vh;
    }
    .connect-Text {
        font-size: 53px;
        padding: 0 32px;
        line-height: 62px;
    }

}

/* Modals */
@media only screen and (min-width: 375px) and (max-width: 500px) 
{
    .contentsWidth {
        width: 82%;
        height: 244vh;
        margin: 33% auto;
    }
    .titleH {
        font-size: 4em;
        color: #17a2b8;
    }
    .infoP {
        font-size: 46px;
        line-height: 51px;
        font-weight: 549;
        padding: 36px 20px;
    }
    #videoForModals {
        position: relative;
        height: 100vh;
        width: 100%;
    }
    .repoLink {
        position: relative;
        font-size: 70px;
    }
    .appLink {
        position: relative;
        font-size: 61px;
    }
    .languagesTitle {
        font-size: 46px;
    }
    .closeIcon {
        position: relative;
        font-size: 5em;
        bottom: 31px;
    }
    .content-padding {
        padding: 20px;
    }
}




/* Arrow btn */

@media only screen and (min-width: 375px) and (max-width: 500px) 
{
    .topBtn {
        font-size: 113px;
    }
}

/*  to Keep myResumeIcon inside the parent for mobile use */

@media only screen and (min-width: 375px) and (max-width: 420px) {
    .aboutLink {
        position: relative;
        bottom: 24px;
        right: 127px;
        width: 100%;
    }
}



@media only screen and (max-width: 500px) 
{
    .work {
        position: absolute;
        left: 20%;
        top: 55rem;
    }
    
}

@media  screen and
(device-width: 360px) 
and 
(device-height: 640px) 
and 
(-webkit-device-pixel-ratio: 4) 
{
    .contentsWidth {
        width: 99%;
        height: 50%;
        margin: 50% auto;
}
        
}

@media only screen and  (max-width: 700px) and (min-width: 375px)
{
    .work {
       display: none;
}
        
}

@media only screen and (max-width: 375px) 
{
    .weatherTitle {
        position: absolute;
        font-size: 29px;
        left: 90px;
        padding-top: 25px 0 20px 0;
        
}
        
}

@media only screen and (max-width: 375px) 
{
    .weatherPic {
        position: absolute;
        left: 37px;
        width: 350px;
        height: 335px;
             
}
        
}


@media only screen and (max-width: 375px) 
{
    .weatherDescription {
        position: absolute;
        left: 101px;
        top: 93rem;

             
}
        
}

@media only screen and (max-width: 375px) 
{
    .weatherBtn {
        position: absolute;
        left: 146px;
        top: 101rem;             
}
}
