@media only screen and (max-width: 1536px) {
    .headerText {
        left: 30%;
    }
}

@media only screen and (max-width: 1536px) {
    .myPosition {
        left: 23%;
    }
}

@media only screen and (max-width: 1536px) {
    #myWorkPage {
        height: 85vh;
    }
}

@media only screen and (max-width: 1536px) {
    .gitHubIcon {
        left: 219px;
    }
}

@media only screen and (max-width: 1536px) {
    .meetHubPic {
        padding-bottom: 0px;
    }
}

@media only screen and (max-width: 1536px) {
    .introPar {
        top: 37%;
        left: 50%;
    }
}

@media only screen and (max-width: 1536px) {
    .work {
        left: 62%;
        top: 45%;
    }
}

