@media only screen and (max-width: 500px) 
{
    .myHeader {
        width: 126%;
    }
}

@media only screen and (max-width: 500px) 
{
    .homeSection {
        display: block;
        width: 126%;
        margin: 0;
    }
}

@media only screen and (max-width: 500px) 
{
    .picOfMe {
        display: block;
        left: 151px;
        top: 46px;
    }
}

@media only screen and (max-width: 500px) 
{
    .myName {
        display: block;
        top: 67%;
        left: 14%;
    }
}

@media only screen and (max-width: 500px) 
{
    .introPar {
        display: block;
        text-align: center;
        top: 96%;
        left: 0%;
        font-size: x-large;
    }

}


@media only screen and (max-width: 500px) 
{
    .work {
        display: block;
        top: 111%;
        left: 26%;
    }
}
