@media only screen and (max-width: 500px) 
{
    * {
        overflow-x: hidden;
    }
}



@media only screen and (max-width: 500px) 
{
    .myHeader {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) 
{
    #myNavBar {
        display: block;
        padding-right: 2px;
    }
}

@media only screen and (max-width: 500px) 
{
    .homeSection {
        display: block;
        width: 126%;
        margin: 0;
    }
}

@media only screen and (max-width: 500px) 
{
    .picOfMe {
        display: block;
        left: 46px;
        top: 46px;
    }
}

@media only screen and (max-width: 500px) 
{
    .myName {
        display: block;
        top: 67%;
        left: 19%;
    }
}

@media only screen and (max-width: 500px) 
{
    .introPar {
        display: block;
        text-align: center;
        top: 99%;
        left: 12%;
        right: 35%;
        font-size: x-large;
    }

}


@media only screen and (max-width: 500px) 
{
    .work {
        display: block;
        top: 120%;
        left: 19%;
    }
}
