* {
    padding: 0;
    margin: 0;
}

.body {
    
}




#myNavBar {
    background-color:#ebedeb;
    padding: 20px 0 10px 0;
    text-align: center;
    
}

.links {
    position: sticky;
    top: 0;
    padding-left: 20px;
    display: inline-block;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger; 
    color: black;
}

.links:hover {
    text-decoration: underline;
    
}

.homeSection {
    position: relative;
    background-image: url(./images/concrete-texture.png);
    height: 100vh;
    margin: 10px;
}

.picOfMe {
    position: absolute;
    left:70px;
    top: 30px;
    border-radius: 65px;
    height: 420px;
}

.myName {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* @media only screen and (max-width: 375px) {
    .headerPicture {
        display: flex;
        width: 70%;
    }
} */






