*{
    padding: 0;
    margin: 0;
    
   
}

.body {
    overflow-x: hidden;
}


#myNavBar {
   position: sticky;
   top: 0; 
   text-align: center;
   background-color: rgb(247 247 252);
   padding-bottom: 2px;
   margin: 0; 
   width: 102%;
}

.myHeader {
    position: relative;
}

.headerText {
    position: absolute;
    left: 35%;
    top: 13%;
    font-size: 5em;
    color: white;
    /* clip-path: polygon(0 0, 100% 0, 100% 90%, 30% 100%, 0 90%); */
    
}

.myPosition {
    position: absolute;
    left: 29%;
    top: 24%;
    font-size: 4em;
    color: white;
}


.links {
    display: inline-block;
    padding: 10px;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    cursor: pointer;
    color: black;  
}

.links:hover {
    text-decoration: underline;
    color: blue;
}


.headerPicture {
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    height: 95vh;
    width: 102%;
    /* overflow-x: hidden; */
}

#aboutMe {
    background-color: #ebebec;
    padding-bottom: 70px;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 46% 99%, 0 90%);
}

.aboutMeText {
    padding: 10px 60px;
    font-size: large;
    font-family: Georgia, Times, 'Times New Roman', serif;
    
    
}

.myInfo {
    position: absolute;
    padding-top: 10px;
    left: 15%;
}


.techText {
    font-size: large;
    font-family: Georgia, Times, 'Times New Roman', serif;
}

.titleMyWork {
    color: white;
}


.meetHubPic {
    position: absolute;
    top: 41px;
    left: 71%;
    height: 535px;
    padding-bottom: 20px;
    cursor: pointer;
    
}

.meetHubText {
    position: absolute;
    top: 50px;
    left: 68%;
    font-size: larger;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

#myWorkPage {
    background-color: #2d3135;
    height: 65vh;
    clip-path: polygon(-25% 2%, 101% -8%, 100% 87%, 50% 100%, -9% 87%);
    

    
}


